.home-decoration-title {
    @extend .health-care-title;
    margin-top: 60px;
}

.second-slider{
    background-color: transparent;
    & .card-color {
     background-color: $house-card-color;
    & .second-img {
        background-image: url('/assets/furniture/wood-chair.jpg');
    }
    & .title-color {
        color: white;
    }
}
}

.cards {
    position: relative;
}
.heart-icon {
    width: 18px;
    height: 18px;
    background-image: url('/assets/svg/heart.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 6px;
    right: 10px;
}