.location-section {
    width: 100vw;
    height: auto;
    & .location {
        @extend .gallery;
        margin-bottom: 30px;
    }
    & .location-img {
        width: 330px;
        height: 480px;
        background-image: url('/assets/img/map.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
        border-radius: 3px;
        margin-bottom: 44px;
        @include tablet{
            width: 560px;
            height: 520px;
        }
        @include desktop {
            width: 1300px;
            height: 596px;
        }
    }
    & .address-location{
        width: 100%;
        height: auto;
        text-align: start;
        margin-left: 25px;
        & h5 {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 26px;
            color: $bold-text-color;
            @include tablet {
                font-size: 2.0rem;
                letter-spacing: 1.2px;
            }
            @include desktop {
                font-size: 2.8rem;
            }
        }
        & p {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 19px;
            color: $bold-text-color;
            margin-top: 8px;
            @include tablet {
                font-size: 1.5rem;
                letter-spacing: 1.2px;
            }
            @include desktop {
                font-size: 2.0rem;
                margin-top: 20px;
            }
        }
    } 
}